div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    /* animation-name: example;
    animation-duration: 3s; */
    /* animation:moveColor 5s infinite; */
     /* animation:ColorTransform 5s infinite; */
     animation: heartbeat 5s infinite;
}
@keyframes example {
    from {background-color: red;}
    to {background-color: blue;}
}
@keyframes example {
    0% {background-color: red;}
    25% {background-color: blue;}
    50% {background-color: yellow;}
    100% {background-color: pink;}
}
@keyframes moveColor {
    0% {background-color: red;left:0; top:0;}
    25% {background-color: blue; left:150px; top: 0;}
    50% {background-color: yellow;left:150px;top: 150px;}
    75% {background-color: beige;left: 0;top: 150px;}
    100% {background-color: pink;left: 0;top: 0;}
}
@keyframes ColorTransform {
    0% {background-color: red; transform: rotate(0deg) scale(2);}
    25% {background-color: blue; transform: rotate(90deg)scale(.5);}
    50% {background-color: yellow;transform: rotate(180deg)scale(1);}
    75% {background-color: beige;transform: rotate(270deg)scale(2.5);}
    100% {background-color: pink;transform: rotate(360deg)scale(2);}
}
@keyframes heartbeat {
    0% {scale: 1;}
    25% {scale:.5;}
    50% {scale: 2;}
    75% {scale: 3;}
    100% {scale: 1;}
}